Package: gdb-release
Version: 7.4.0.20120307
Architecture: amd64
Maintainer: Hui Zhu <teawater@gmail.com>
Installed-Size: 20060
Depends: libc6 (>= 2.11), libexpat1 (>= 1.95.8), libncurses5 (>= 5.7+20100313), libpython2.6 (>= 2.6), libreadline6 (>= 6.0), zlib1g (>= 1:1.2.0)
Suggests: gdb-release-doc, gdbserver-release
Section: devel
Priority: optional
Description: The GNU Debugger
 GDB is a source-level debugger, capable of breaking programs at
 any specific line, displaying variable values, and determining
 where errors occurred. Currently, it works for C, C++, Fortran,
 Modula 2 and Java programs. A must-have for any serious
 programmer.
